body{
  font-family: verdana;
  margin-left: 50px;
  padding: 50px;

}
.main-img{
  height: 250px;
  border-radius: 50%;
  /* border: solid 4px black; */
  padding: 20px;
}

h1{
  background-color: #e2e2e2;
  padding: 5px;
}
.section-title{
  text-transform: uppercase;
}
